@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #fff;
  --black: #171717;
  --light-black: #242424;
  --light-text: #d1d1d1;
  --pink: #fc00da;
  --green: #27b127;

  --dark-gray: #5a5a5ade;
  --medium-gray: #8c8c8c6c;
  --light-gray: #d1d1d1af;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  background-color: var(--black);
}
#loader {
  color: red;
}
.banner {
  position: relative;
}
.slider {
  display: flex;
  overflow: hidden;
  height: 600px;
  width: 100%;
}
.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.slider-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.slider-controls button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 2rem;
  padding: 0 2rem;
  height: 100%;
  transition: 0.45s ease-in-out;
}
.slider-controls button:hover {
  background-color: rgba(0, 0, 0, 0.295);
}
.slider-controls button svg path {
  transition: 0.45s ease-in-out;
}
.slider-controls button:hover svg path {
  fill: var(--pink);
}
.slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  transition: 0.45s ease-in-out;
}
.dot.active {
  width: 14px;
  height: 14px;
  background-color: var(--pink);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#filters {
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
}
#search {
  height: 48px;
  width: 100%;
  max-width: 400px;
  border: none;
  padding: 0 0.5rem;
  background-color: var(--light-black);
  color: var(--light-text);
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid var(--pink);
}
.selectors {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
#order,
#selector {
  height: 48px;
  width: 100%;
  border: none;
  padding: 0 0.5rem;
  background-color: var(--light-black);
  color: var(--light-text);
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid var(--pink);
}
#selector {
  max-width: 200px;
}
#order {
  max-width: 300px;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 100vh;
}
.products {
  margin: 4rem 0;
  text-align: center;
}
.products h2 {
  font-size: 3rem;
  padding: 4rem;
}
/* Card */
.card {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 100%;
  max-height: 500px;
  cursor: pointer;
  border-radius: 0.375rem;
  overflow: hidden;
  transition: 0.45s ease-in-out;
  text-align: left;
}
.card:hover {
  box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 0.384);
}
/* Card Image */
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.45s ease-in-out;
}
.card:hover .card-img {
  transform: scale(1.1);
}

/* Card Content */
.card-text-container {
  padding: 2rem;
  position: absolute;
  z-index: 1;
  color: var(--white);
  bottom: 0;
}

/* Card Button */
.card-text-container button {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 48px;
  border: none;
  background-color: var(--white);
  border-radius: 0.375rem;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.card-text-container button div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text-container button div span {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--black);
}
.card-text-container button div img {
  transition: 0.45s ease-in-out;
}
.card-text-container button:hover {
  box-shadow: 0 0 10px 0 #5a5a5ac7;
}
.card-text-container button:hover div img {
  transform: translateX(6px);
}
.card-text-container h3 {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.card-text-container h3::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 4px;
  background-color: var(--pink);
  bottom: -10px;
  left: 0;
}
.card-text-container p {
  font-size: 1rem;
  color: var(--light-text);
  line-height: 1.5rem;
  margin: 2rem 0;
}
.card .best-seller {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--pink);
  color: var(--black);
  padding: 2px 8px;
  z-index: 1;
}
/* Card Detail Button */
.card-text-container .detail-button {
  text-align: left;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 48px;
  border: none;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
}

/* Card Price */
.price-cont,
.free {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 8px;
}
.price-cont {
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.price-cont .price {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: 300;
}
.price-cont .sale-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.free {
  background-color: var(--green);
  color: var(--white);
}

/* Cart */
#cart {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: var(--light-black);
  width: 400px;
  height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: -4px 0 0 20px 0 #17171773;
  transition: 0.45s ease-in-out;
}
#cart.show {
  transform: translateX(0);
}
#cart.hidden {
  transform: translateX(100%);
}
.toggle-cart {
  position: absolute;
  bottom: 8rem;
  left: -120px;
  background-color: white;
  border-radius: 100%;
  padding: 1rem;
  cursor: pointer;
}
#close-cart {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
#cart-items {
  overflow-y: scroll;
  width: 100%;
  margin: 2rem 0;
}
.cart-title {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}
#cart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.cart-card {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--dark-gray);
}
.cart-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-img-cont {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.cart-img-cont img {
  object-fit: contain;
  width: 100%;
}
.cart-product-total-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.count-container {
  display: flex;
  gap: 1rem;
}
.remove-button,
.add-button {
  padding: 0 0.3rem;
  font-weight: 600;
}
.delete-cart-product {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete-cart-product:hover {
  background-color: rgba(0, 0, 0, 0.233);
}

.toggle-cart {
  background-color: var(--black);
  border: 2px solid var(--white);
  transition: 0.45s ease-in-out;
}
.toggle-cart:hover {
  border: 2px solid var(--pink);
}
.toggle-count {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--pink);
  height: 1.2rem;
  width: 1.2rem;
  color: var(--white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
}
.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  width: 100%;
}
.cart-buttons p {
  font-weight: 400;
  font-size: 2rem;
}
.cart-buttons p span {
  font-weight: 700;
}
.cart-buttons button,
#buy-cart {
  cursor: pointer;
  width: 100%;
  height: 56px;
  color: var(--white);
  border-radius: 6px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.cart-buttons button#clear-cart {
  background-color: transparent;
  border: 2px solid var(--white);
  transition: 0.45s ease-in-out;
}
#buy-cart {
  background-color: var(--white);
  border: none;
  color: var(--black);
  transition: 0.45s ease-in-out;
}

/* Modal */
#modal {
  background-color: #000000a6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  color: var(--black);
  transition: 0.45s ease-in-out;
}
#modal.show {
  display: flex;
}
.modal-content {
  position: relative;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal-container {
  display: flex;
  background-color: var(--white);
  max-width: 800px;
  width: 100%;
  border-radius: 0.375rem;
  padding: 2rem;
  gap: 1rem;
}
.modal-text-container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.modal-text-container p {
  margin-bottom: 1rem;
}
.modal-text-container .modal-price {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: line-through;
}
.modal-text-container .modal-sale-price {
  font-size: 3rem;
  font-weight: 700;
}
.count-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.count-container p {
  margin: 0;
}
.modal-buy-button {
  margin-top: 0.5rem;
  width: 100%;
  height: 56px;
  border-radius: 6px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: left;
  padding: 1rem;
  color: var(--white);
  background-color: var(--black);
  border: none;
  cursor: pointer;
  transition: 0.45s ease-in-out;
}
.modal-buy-button:hover {
  box-shadow: 0 0 10px 0 #5a5a5ac7;
}
.modal-categories-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
.modal-categories-container span {
  background-color: var(--black);
  color: var(--white);
  padding: 0.2rem 1rem 0.3rem 1rem;
  border-radius: 100px;
}

/* skeleton cards */
.loading-card {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 500px;
  border-radius: 0.375rem;
  background-color: var(--medium-gray);
  animation: skeleton 1s linear infinite alternate;
}
.loading-card-price {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 28px;
  border-radius: 0.375rem;
  background-color: var(--dark-gray);
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-text-cont {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-title {
  width: 100px;
  height: 28px;
  border-radius: 0.375rem;
  background-color: var(--dark-gray);
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-paragraph {
  width: 100%;
  height: 18px;
  border-radius: 0.375rem;
  background-color: var(--dark-gray);
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  animation: skeleton 0.8s linear infinite alternate;
}
.loading-button {
  width: 100%;
  height: 42px;
  border-radius: 0.375rem;
  background-color: var(--dark-gray);
  animation: skeleton 0.8s linear infinite alternate;
}

#category-promotion {
  position: fixed;
  bottom: 100px;
  left: 0;
  border-bottom: 2px solid var(--pink);
}
.ad-content {
  position: relative;
}
.close-ad-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.checkout-content {
  height: 600px;
  width: 800px;
  background-color: white;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 8px;
}

#checkout-form {
  text-align: left;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.checkout-top-cont {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}
.checkout-fields-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 300px;
}
.form-field input {
  height: 28px;
}
.error-field {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: red;
}
